<!DOCTYPE html>

{% load static %}
<html>
<head>
<title> Tweegle </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
crossorigin="anonymous">
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
crossorigin="anonymous"></script>
<style>
.hideView {
	background-color: white;
	width: 100%;
	color: black;
}

.backgroud-body {
	background-color: #00C2FC;
}

.marg {
	margin-top: 160px;
}
</style>
</head>	
<body class = "backgroud-body">
	<div class="search">
		<table class="marg" align="center">
			<tr>
				<td>
					<div>
						<img src="{% static 'img/tweegle.png' %}" alt = "image">
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="input-group">
						<input type="text" class="form-control" id="btn-search"
							placeholder="Give Me An Event" name='query'> <span
							class="input-group-btn">choose an event</span>
					</div>
					<table class="hideView">
					</table>
				</td>
			</tr>
		</table>
	</div>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>
		$("#btn-search").keyup(function() {
			getResult($("#btn-search").val());
		});

		function getResult(x) {
			$(".hideView").empty()
			if (x.length != 0) {
				$
						.ajax({
							url : '/tweegle/searchE',
							headers : {
								"X-CSRFToken" : getCookie("csrftoken")
							},
							data : 'val=' + x,
							type : 'POST',
							dataType : 'html',
							success : function(res) {
								query = res.split("***.***")
								i = 0
								strHtml = ""
								strHtml += "<tr><td align='center'>Choose An Event</td></tr>"
								for (; i < query.length - 1; i++) {
									console.log(query[i])
									strHtml += "<tr><td colspan='2'><a href=\"/tweegle/Event?query="
											+ encodeURIComponent(query[i])
											+ "\">"
											+ query[i].substring(0, 70)
											+ "</a></td></tr>"
								}
								$(".hideView").append(strHtml)
							}
						});
			}
		}

		function getCookie(c_name) {
			if (document.cookie.length > 0) {
				c_start = document.cookie.indexOf(c_name + "=");
				if (c_start != -1) {
					c_start = c_start + c_name.length + 1;
					c_end = document.cookie.indexOf(";", c_start);
					if (c_end == -1)
						c_end = document.cookie.length;
					return unescape(document.cookie.substring(c_start, c_end));
				}
			}
			return "";
		}
	</script>
</body>
</html>
