<!DOCTYPE html>
{% load static %}
<!-- New line -->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tweegle</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
<style type="text/css">
.hideView {
	background-color: white;
	width: 100%;
	color: black;
}

body {
	background: url({% static 'img/tweegle.png' %})
no-repeat
center
fixed
;
background-color
:
#00C2FC
;
}
.search {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	margin-top: 25%;
}
</style>
</head>
<body>
	<div class="search">
		<form role="form" id="mc-form">
			<div class="input-group">
				<input type="text" class="form-control" id="btn-search"
					placeholder="Give Me An Event" name='query'> <span
					class="input-group-btn"><div>choose an event</div></span>
			</div>
			<table class="hideView">
			</table>
		</form>
	</div>

	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>
		$("#btn-search").keyup(function() {
			getResult($("#btn-search").val());
		});

		function getResult(x) {
			$(".hideView").empty()
			if (x.length != 0) {
				$
						.ajax({
							url : '/tweegle/searchE',
							headers : {
								"X-CSRFToken" : getCookie("csrftoken")
							},
							data : 'val=' + x,
							type : 'POST',
							dataType : 'html',
							success : function(res) {
								query = res.split("***.***")
								i = 0
								strHtml = ""
								strHtml += "<tr><td align='center'>Choose An Event</td></tr>"
								for (; i < query.length - 1; i++) {
									console.log(query[i])
									strHtml += "<tr><td colspan='2'><a href=\"/tweegle/Event?query="
											+ query[i]
											+ "\">"
											+ query[i].substring(0, 90)
											+ "</a></td></tr>"
								}
								$(".hideView").append(strHtml)
							}
						});
			}
		}

		function getCookie(c_name) {
			if (document.cookie.length > 0) {
				c_start = document.cookie.indexOf(c_name + "=");
				if (c_start != -1) {
					c_start = c_start + c_name.length + 1;
					c_end = document.cookie.indexOf(";", c_start);
					if (c_end == -1)
						c_end = document.cookie.length;
					return unescape(document.cookie.substring(c_start, c_end));
				}
			}
			return "";
		}
	</script>
</body>
</html>
